*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	min-height: 100%;
}

body {
	min-width: 320px;
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
	background-color: #EDEDED;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-wrapper {
	max-width: 480px;
	width: 100%;
}

.payment-form {
	width: 100%;
	margin: 50px 0 30px;
	padding: 30px;
	background-color: #fff;
	border-radius: 10px;
}

.form-row {
	display: flex;
	flex-direction: column;
}

.form-total {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24px;
	color: #272052;
	border-top: 1px dashed gray;
	border-bottom: 1px dashed gray;
	padding: 10px 0;
	text-align: center;
	margin-bottom: 30px;
}

.form-total span {
	max-width: 100%;
	display: block;
	word-wrap:break-word;
}

.payment-form h3 {
	font-weight: bold;
	font-size: 20px;
	color: #272052;
	margin-top: 0;
	margin-bottom: 30px;
}

.payment-form label {
	display: inline-block;
	font-size: 18px;
	margin-bottom: 5px;
	color: #272052;
	font-weight: 500;
	padding-left: 7px;
}

.payment-form input:not([type="submit"]) {
	text-align: left;
	margin-bottom: 30px;
	padding: 10px 15px;
	border: none;
	color: gray;
	outline: none;
	border-bottom: 2px solid #272052;
	font-size: 16px;
}

.payment-form textarea {
	margin-top: 4px;
	line-height: 8px;
	text-align: left;
	margin-bottom: 30px;
	padding: 10px 15px;
	border: none;
	color: gray;
	outline: none;
	border-bottom: 2px solid #272052;
	font-size: 16px;
}

.payment-form input:not([type="submit"]):focus::placeholder {
	opacity: 0;
}

#generate-payment-link,
.payment-form input[type="submit"] {
	border: none;
	background: linear-gradient(to right, #6FCAF8 0%, #4C8AEE 100%);
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	width: calc(50% - 15px);
	display: block;
	margin: 0 auto;
	border-radius: 40px;
	padding: 15px 15px;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0 0 15px #6FCAF8;
	transition: all 0.3s;
	font-size: 13.333333px;
}

.payment-form input[type="submit"]:hover {
	box-shadow: none;
}

.payment-form a {
	display: inline-block;
	margin-top: 30px;
	text-decoration: none;
	color: #6FCAF8;
	font-weight: 500;
	font-size: 14px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.payment-form a:hover,
.payment-form a:focus {
	text-decoration: underline;
}

.payment-form ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.payment-form ul li {
	margin-left: 20px;
	width: 14%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.payment-form ul li:first-child {
	margin-left: 0;
}

.payment-form ul li img {
	max-width: 100%;
	width: 100%;
	height: auto;
}

.site-logo {
	max-width: 120px;
	display: block;
	margin: 0 auto 30px;
}

.site-logo img {
	width: 100%;
}
.g-recaptcha {
	margin-bottom: 15px;
	display: flex;
	justify-content: center;
}
#recaptchaError {
	margin-bottom: 15px;
	text-align: center;
	color: red;
}
.form-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 15px;
}
#short-link-wrap {
	text-align: center;
}
#copy-short-link {
	width: 15px;
	height: 15px;
	background-image: url("../img/copy.svg");
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 10px;
}
#short-link-wrap a {
	left: unset;
	transform: unset;
	font-size: 20px;
	font-weight: 700;
}
.message-copied {
	position: relative;
}
.message-copied:after {
	content: '✔';
	color: green;
	position: absolute;
	right: -15px;
	top: -6px;
	font-size: 16px;
}